body, h1, h2, h3,h4{
    margin: 0 0;
    color: navy;
}

p{
    margin-top: 0;
}
 
header{ 
    padding: 20px 0;
    background-color: #080d0e;
}

header img{
    width: 50px;
    height: auto;
}

header h1{
    font-weight:bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline-block;
    padding-left: 30px;
}

header a{
    text-decoration: none;
}

header nav{ 
    right: 30px;
    position: absolute;
}

header nav ul li{
    display: inline-block;
} 

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
    color: mediumturquoise;
    text-decoration: underline;
    display: inline-block;
}

.hero{
    width: 100%; 
    height: 150px;
    position: relative;
}

.hero .detail{
  position: absolute;
  right: 50px;
  bottom: 10px;
}

.hero h2{ 
    display: inline-block; 
}


.container{
    margin: 20px 10px;
    padding: 0;
    display: flex;
    list-style: none;
}

.container > .item:first-of-type{
    width: 20%;
    text-align: right;
    border-right: 3px solid #000;
    padding-right: 10px;
}

.container > .item:last-of-type{
    width: 80%;
    padding-left: 20px;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    overflow:hidden;
    list-style-type: none;
}

.projects .work{
     width: 50%;
     height: 100px; 
     margin: 0 0 20px;
    
}

.projects > .work:nth-of-type(even) .bg-img{
    margin-right: 20px ;
}

.projects > .work:nth-of-type(odd) .bg-img{
    margin-left: 20px ;
}

.projects > .work:first-of-type .bg-img{
    margin-left: 0px ;
}


.projects > .work:first-of-type{
    width: 100%; 
    height: 200px;
}

.work .bg-img{
    display: inline-flex;
    width: 100%;
    height: 100%;
    position: relative;
    border: 5px solid mediumturquoise;
    background-repeat: no-repeat;
    background-size: cover;
}

.work .detail{
    display: inline-block;
    position: absolute;
    bottom: 20px;
}

.bg-color, .work .detail{
    padding: 10px;
    background-color: mediumturquoise;
    color: #000;
}

.bg-color a{
    color: #000;
}

.flex-container > ul li, .contacts > ul li{
    width: 20%;
    text-align: center;
}

.bkrsv{
    display:flex;
}

.contacts > ul li a{
    text-decoration: none;
    border-bottom: 4px solid #000;
    display: inline-block;
}

.contacts {
    margin: 30px 0;
}


@media only screen and (max-width: 420px) {
    .container > .item:first-of-type{
        width: 30%;
    }
    .container > .item:last-of-type{
        width: 70%;
    }
}

@media only screen and (max-width: 900px) {
    header nav{
        position: initial;
    }
}